In [88]:
# Import necessary libraries 
import pandas as pd
import re
import numpy as np

In [2]:
# Load the dataset from the CSV file
df = pd.read_csv('../data/raw/Activities.csv')

In [3]:
# Display the first few rows of the DataFrame to understand its structure
df.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,...,Decompression,Best Lap Time,Number of Laps,Max Temp,Distance.1,Total Descent.1,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Treadmill Running,2024-01-22 20:19:55,False,Treadmill Running,5.26,408,00:30:08,147,169,3.5,...,No,01:29.39,6,0.0,5.26,--,00:30:06,00:30:08,--,--
1,Treadmill Running,2024-01-18 17:02:50,False,Treadmill Running,5.12,410,00:30:20,148,171,3.5,...,No,00:46.92,6,0.0,5.12,--,00:30:14,00:30:20,--,--
2,Treadmill Running,2024-01-15 19:33:44,False,Treadmill Running,5.01,403,00:30:12,146,167,3.4,...,No,00:02.12,6,0.0,5.01,--,00:30:01,00:30:12,--,--
3,Treadmill Running,2024-01-12 18:19:25,False,Base,4.80,412,00:30:19,148,166,3.4,...,No,05:11.23,5,0.0,4.80,--,00:29:38,00:30:19,--,--
4,Treadmill Running,2024-01-09 15:51:13,False,Base,5.15,423,00:31:10,148,164,3.5,...,No,01:21.02,6,0.0,5.15,--,00:31:07,00:31:10,--,--

In [4]:
# Get a concise summary of the DataFrame, including the number of non-null values in each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Activity Type             413 non-null    object
 1   Date                      413 non-null    object
 2   Favorite                  413 non-null    bool
 3   Title                     413 non-null    object
 4   Distance                  413 non-null    object
 5   Calories                  413 non-null    object
 6   Time                      413 non-null    object
 7   Avg HR                    413 non-null    int64
 8   Max HR                    413 non-null    int64
 9   Aerobic TE                413 non-null    object
 10  Avg Run Cadence           413 non-null    object
 11  Max Run Cadence           413 non-null    object
 12  Avg Pace                  413 non-null    object
 13  Best Pace                 413 non-null    object
 14  Total Ascent              413 non-null    object
 15  Total Descent             413 non-null    object
 16  Avg Stride Length         413 non-null    float64
 17  Avg Vertical Ratio        413 non-null    float64
 18  Avg Vertical Oscillation  413 non-null    float64
 19  Avg Ground Contact Time   413 non-null    int64
 20  Training Stress ScoreÂ®    413 non-null    float64
 21  Avg Power                 413 non-null    int64
 22  Max Power                 413 non-null    int64
 23  Grit                      413 non-null    float64
 24  Flow                      413 non-null    float64
 25  Total Strokes             413 non-null    object
 26  Avg. Swolf                413 non-null    int64
 27  Avg Stroke Rate           413 non-null    int64
 28  Total Reps                413 non-null    int64
 29  Dive Time                 413 non-null    object
 30  Min Temp                  413 non-null    float64
 31  Surface Interval          413 non-null    object
 32  Decompression             413 non-null    object
 33  Best Lap Time             413 non-null    object
 34  Number of Laps            413 non-null    int64
 35  Max Temp                  413 non-null    float64
 36  Distance.1                413 non-null    object
 37  Total Descent.1           413 non-null    object
 38  Moving Time               413 non-null    object
 39  Elapsed Time              413 non-null    object
 40  Min Elevation             413 non-null    object
 41  Max Elevation             413 non-null    object
dtypes: bool(1), float64(8), int64(9), object(24)
memory usage: 132.8+ KB

In [5]:
# Convert Date & Time to correct format
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Activity Type             413 non-null    object
 1   Date                      413 non-null    datetime64[ns]
 2   Favorite                  413 non-null    bool
 3   Title                     413 non-null    object
 4   Distance                  413 non-null    object
 5   Calories                  413 non-null    object
 6   Time                      413 non-null    object
 7   Avg HR                    413 non-null    int64
 8   Max HR                    413 non-null    int64
 9   Aerobic TE                413 non-null    object
 10  Avg Run Cadence           413 non-null    object
 11  Max Run Cadence           413 non-null    object
 12  Avg Pace                  413 non-null    object
 13  Best Pace                 413 non-null    object
 14  Total Ascent              413 non-null    object
 15  Total Descent             413 non-null    object
 16  Avg Stride Length         413 non-null    float64
 17  Avg Vertical Ratio        413 non-null    float64
 18  Avg Vertical Oscillation  413 non-null    float64
 19  Avg Ground Contact Time   413 non-null    int64
 20  Training Stress ScoreÂ®    413 non-null    float64
 21  Avg Power                 413 non-null    int64
 22  Max Power                 413 non-null    int64
 23  Grit                      413 non-null    float64
 24  Flow                      413 non-null    float64
 25  Total Strokes             413 non-null    object
 26  Avg. Swolf                413 non-null    int64
 27  Avg Stroke Rate           413 non-null    int64
 28  Total Reps                413 non-null    int64
 29  Dive Time                 413 non-null    object
 30  Min Temp                  413 non-null    float64
 31  Surface Interval          413 non-null    object
 32  Decompression             413 non-null    object
 33  Best Lap Time             413 non-null    object
 34  Number of Laps            413 non-null    int64
 35  Max Temp                  413 non-null    float64
 36  Distance.1                413 non-null    object
 37  Total Descent.1           413 non-null    object
 38  Moving Time               413 non-null    object
 39  Elapsed Time              413 non-null    object
 40  Min Elevation             413 non-null    object
 41  Max Elevation             413 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(9), object(23)
memory usage: 132.8+ KB

In [6]:
# Display statistical summaries of numeric columns
df.describe()

,Date,Avg HR,Max HR,Avg Stride Length,Avg Vertical Ratio,Avg Vertical Oscillation,Avg Ground Contact Time,Training Stress ScoreÂ®,Avg Power,Max Power,Grit,Flow,Avg. Swolf,Avg Stroke Rate,Total Reps,Min Temp,Number of Laps,Max Temp
count,413,413.000000,413.000000,413.000000,413.0,413.0,413.0,413.0,413.0,413.0,413.0,413.0,413.000000,413.000000,413.0,413.0,413.000000,413.0
mean,2022-03-02 23:12:05.016948992,142.898305,165.685230,0.713341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.566586,1.399516,0.0,0.0,6.571429,0.0
min,2020-07-11 20:01:36,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.000000,0.0
25%,2021-02-22 17:34:56,137.000000,161.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.000000,0.0
50%,2022-01-30 15:58:12,147.000000,168.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,6.000000,0.0
75%,2023-02-02 09:45:50,153.000000,175.000000,1.080000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,8.000000,0.0
max,2024-01-22 20:19:55,168.000000,207.000000,1.750000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92.000000,34.000000,0.0,0.0,38.000000,0.0
std,NaN,17.594387,17.413105,0.494521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.254494,5.949439,0.0,0.0,6.254929,0.0

In [7]:
def generate_alphanumeric_id(prefix, idx):
    """
    Generates an alphanumeric ID with a given prefix and index.
    
    Parameters:
    - prefix (str): The prefix for the ID.
    - idx (int): The numeric index for the ID.
    
    Returns:
    - str: An alphanumeric ID.
    """
    return f"{prefix}{idx:03d}"  # Pads the index with zeros, e.g., AT001

# Generate unique IDs for each activity type
activity_types = df['Activity Type'].unique()

# Generate Alphanumeric IDs
alphanumeric_ids = [generate_alphanumeric_id("AT", i+1) for i in range(len(activity_types))]

# Create a mapping DataFrame
activity_types_df = pd.DataFrame({
    'ActivityTypeID': alphanumeric_ids,
    'ActivityType': activity_types
})


# Display the Activity Types table
activity_types_df

  ActivityTypeID       ActivityType
0          AT001  Treadmill Running
1          AT002            Running
2          AT003      Indoor Rowing
3          AT004      Pool Swimming
4          AT005             Cardio
5          AT006         Elliptical
6          AT007              Other
7          AT008            Walking
8          AT009     Indoor Cycling
9          AT010            Cycling

In [8]:
# Export Activty Types to csv
activity_types_df.to_csv('../data/processed/activity_types.csv', index=False)

In [9]:
# Drop columns where all values are 0
df = df.loc[:, (df != 0).any(axis=0)]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Activity Type      413 non-null    object
 1   Date               413 non-null    datetime64[ns]
 2   Title              413 non-null    object
 3   Distance           413 non-null    object
 4   Calories           413 non-null    object
 5   Time               413 non-null    object
 6   Avg HR             413 non-null    int64
 7   Max HR             413 non-null    int64
 8   Aerobic TE         413 non-null    object
 9   Avg Run Cadence    413 non-null    object
 10  Max Run Cadence    413 non-null    object
 11  Avg Pace           413 non-null    object
 12  Best Pace          413 non-null    object
 13  Total Ascent       413 non-null    object
 14  Total Descent      413 non-null    object
 15  Avg Stride Length  413 non-null    float64
 16  Total Strokes      413 non-null    object
 17  Avg. Swolf         413 non-null    int64
 18  Avg Stroke Rate    413 non-null    int64
 19  Dive Time          413 non-null    object
 20  Surface Interval   413 non-null    object
 21  Decompression      413 non-null    object
 22  Best Lap Time      413 non-null    object
 23  Number of Laps     413 non-null    int64
 24  Distance.1         413 non-null    object
 25  Total Descent.1    413 non-null    object
 26  Moving Time        413 non-null    object
 27  Elapsed Time       413 non-null    object
 28  Min Elevation      413 non-null    object
 29  Max Elevation      413 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(23)
memory usage: 96.9+ KB

In [10]:
# Add an Activity ID column as a primary key
df['ActivityID'] = range(1, len(df) + 1)
df.tail()

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,Avg Run Cadence,...,Decompression,Best Lap Time,Number of Laps,Distance.1,Total Descent.1,Moving Time,Elapsed Time,Min Elevation,Max Elevation,ActivityID
408,Running,2020-07-20 17:07:49,Stratford on Avon - Easy Run,5.96,461,00:36:31,146,169,3.5,149,...,No,04:43.03,7,5.96,61,00:34:49,00:36:49,45,108,409
409,Running,2020-07-18 06:46:00,Stratford on Avon - Easy Run,9.96,821,01:00:05,156,176,5.0,151,...,No,00:05.21,12,9.96,48,00:59:53,01:00:05,34,79,410
410,Running,2020-07-16 21:02:11,Easy Run,5.36,433,00:30:01,157,178,4.2,157,...,No,00:00.78,7,5.36,14,00:29:54,00:30:11,552,574,411
411,Running,2020-07-14 18:51:28,Benchmark Run,1.60,128,00:09:00,154,179,2.7,142,...,No,00:34.60,4,1.60,17,00:08:36.4,00:09:00,552,566,412
412,Running,2020-07-11 20:01:36,Benchmark Run,5.00,391,00:28:10,157,177,4.0,150,...,No,00:45.67,8,5.00,26,00:28:09,00:28:30,552,565,413

In [11]:
# Merge df with activity_types_df on "Activity Type" to include "ActivityTypeID"
merged_df = pd.merge(df, activity_types_df, 
                         left_on='Activity Type', right_on='ActivityType', 
                         how='left')

# Drop the redundant 'ActivityType' column from the merged DataFrame
merged_df.drop('ActivityType', axis=1, inplace=True)

# Now, activities_df is updated to contain ActivityID, Activity Type, Date, Title, and ActivityTypeID
merged_df.head(10)

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,Avg Run Cadence,...,Best Lap Time,Number of Laps,Distance.1,Total Descent.1,Moving Time,Elapsed Time,Min Elevation,Max Elevation,ActivityID,ActivityTypeID
0,Treadmill Running,2024-01-22 20:19:55,Treadmill Running,5.26,408,00:30:08,147,169,3.5,167,...,01:29.39,6,5.26,--,00:30:06,00:30:08,--,--,1,AT001
1,Treadmill Running,2024-01-18 17:02:50,Treadmill Running,5.12,410,00:30:20,148,171,3.5,167,...,00:46.92,6,5.12,--,00:30:14,00:30:20,--,--,2,AT001
2,Treadmill Running,2024-01-15 19:33:44,Treadmill Running,5.01,403,00:30:12,146,167,3.4,164,...,00:02.12,6,5.01,--,00:30:01,00:30:12,--,--,3,AT001
3,Treadmill Running,2024-01-12 18:19:25,Base,4.80,412,00:30:19,148,166,3.4,163,...,05:11.23,5,4.80,--,00:29:38,00:30:19,--,--,4,AT001
4,Treadmill Running,2024-01-09 15:51:13,Base,5.15,423,00:31:10,148,164,3.5,163,...,01:21.02,6,5.15,--,00:31:07,00:31:10,--,--,5,AT001
5,Treadmill Running,2024-01-05 07:20:31,Base,5.43,429,00:31:13,150,175,3.7,166,...,03:05.49,6,5.43,--,00:30:33,00:31:13,--,--,6,AT001
6,Treadmill Running,2024-01-02 06:29:33,Base,4.99,395,00:30:23,142,158,3.2,167,...,05:53.79,5,4.99,--,00:30:18,00:30:23,--,--,7,AT001
7,Running,2023-12-31 08:15:58,Bromsgrove - Base,5.92,534,00:43:02,139,165,3.3,146,...,05:35.27,6,5.92,192,00:41:09,00:43:02,164,311,8,AT002
8,Treadmill Running,2023-12-28 16:20:32,Base,6.88,547,00:40:27,148,165,3.8,165,...,00:27.27,8,6.88,--,00:40:15,00:40:27,--,--,9,AT001
9,Running,2023-12-25 10:49:19,Cherwell - Base,5.26,493,00:41:40,139,165,3.0,137,...,03:34.21,6,5.26,8,00:36:14,00:41:40,63,73,10,AT002

In [14]:
# Create the Activities Table - To record basic details about each activity.
activities_df = merged_df[['ActivityID','ActivityTypeID', 'Date', 'Title']].copy()
activities_df.head(10)

   ActivityID ActivityTypeID                Date              Title
0           1          AT001 2024-01-22 20:19:55  Treadmill Running
1           2          AT001 2024-01-18 17:02:50  Treadmill Running
2           3          AT001 2024-01-15 19:33:44  Treadmill Running
3           4          AT001 2024-01-12 18:19:25               Base
4           5          AT001 2024-01-09 15:51:13               Base
5           6          AT001 2024-01-05 07:20:31               Base
6           7          AT001 2024-01-02 06:29:33               Base
7           8          AT002 2023-12-31 08:15:58  Bromsgrove - Base
8           9          AT001 2023-12-28 16:20:32               Base
9          10          AT002 2023-12-25 10:49:19    Cherwell - Base

In [13]:
# Export Activty Types to csv
activities_df.to_csv('../data/processed/activities.csv', index=False)

In [50]:
#Create Performance Metrics Table - To store specific performance metrics for deeper analysis of physical output.
performance_metrics_df = merged_df[['ActivityID','ActivityTypeID', 'Distance', 'Calories', 'Time', 'Avg HR', 'Max HR', 'Aerobic TE', 'Avg Run Cadence', 'Avg Pace', 'Best Pace']]
performance_metrics_df.head(10)

,ActivityID,ActivityTypeID,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,Avg Run Cadence,Avg Pace,Best Pace
0,1,AT001,5.26,408,00:30:08,147,169,3.5,167,5:44,4:23
1,2,AT001,5.12,410,00:30:20,148,171,3.5,167,5:55,4:59
2,3,AT001,5.01,403,00:30:12,146,167,3.4,164,6:02,3:54
3,4,AT001,4.80,412,00:30:19,148,166,3.4,163,6:19,5:05
4,5,AT001,5.15,423,00:31:10,148,164,3.5,163,6:03,4:12
5,6,AT001,5.43,429,00:31:13,150,175,3.7,166,5:45,3:58
6,7,AT001,4.99,395,00:30:23,142,158,3.2,167,6:06,4:55
7,8,AT002,5.92,534,00:43:02,139,165,3.3,146,7:16,4:43
8,9,AT001,6.88,547,00:40:27,148,165,3.8,165,5:53,4:49
9,10,AT002,5.26,493,00:41:40,139,165,3.0,137,7:56,4:12

In [51]:
performance_metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ActivityID       413 non-null    int64
 1   ActivityTypeID   413 non-null    object
 2   Distance         413 non-null    object
 3   Calories         413 non-null    object
 4   Time             413 non-null    object
 5   Avg HR           413 non-null    int64
 6   Max HR           413 non-null    int64
 7   Aerobic TE       413 non-null    object
 8   Avg Run Cadence  413 non-null    object
 9   Avg Pace         413 non-null    object
 10  Best Pace        413 non-null    object
dtypes: int64(3), object(8)
memory usage: 35.6+ KB

In [58]:
# Explicitly create a copy of the DataFrame or slice for modification
performance_metrics_df = performance_metrics_df.copy()

# Convert 'Distance', 'Calories', 'Aerobic TE', and 'Avg Run Cadence' to numeric types
performance_metrics_df['Distance'] = pd.to_numeric(performance_metrics_df['Distance'], errors='coerce')
performance_metrics_df['Calories'] = pd.to_numeric(performance_metrics_df['Calories'], errors='coerce')
performance_metrics_df['Aerobic TE'] = pd.to_numeric(performance_metrics_df['Aerobic TE'], errors='coerce')
performance_metrics_df['Avg Run Cadence'] = pd.to_numeric(performance_metrics_df['Avg Run Cadence'], errors='coerce')

# Check the DataFrame's info to confirm the conversions
performance_metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ActivityID       413 non-null    int64
 1   ActivityTypeID   413 non-null    object
 2   Distance         374 non-null    float64
 3   Calories         401 non-null    float64
 4   Time             413 non-null    object
 5   Avg HR           413 non-null    int64
 6   Max HR           413 non-null    int64
 7   Aerobic TE       411 non-null    float64
 8   Avg Run Cadence  337 non-null    float64
 9   Avg Pace         413 non-null    object
 10  Best Pace        413 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 35.6+ KB

In [66]:
# Function to convert 'HH:MM:SS' to minutes
def convert_time_to_proportion(time_str):
    match = re.match(r'(\d{2}):(\d{2}):(\d{2})', time_str)
    if match:
        # Extract minutes and seconds
        hours, minutes, seconds = match.groups()
        total_seconds = int(hours) * 3600 + int(minutes) * 60 + int(seconds)
        # Convert to proportion of an hour
        return round(total_seconds /60,2)
    return None

# Apply the conversion function to the 'Time' column
performance_metrics_df['Time (minutes)'] = performance_metrics_df['Time'].apply(convert_time_to_proportion)

In [67]:
performance_metrics_df

,ActivityID,ActivityTypeID,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,Avg Run Cadence,Avg Pace,Best Pace,Time as Hour Proportion,Time(hours),Avg Pace (min/km),Best Pace (min/km),Time (minutes)
0,1,AT001,5.26,408.0,00:30:08,147,169,3.5,167.0,5:44,4:23,0.502222,0.502,5.733,4.383,30.133
1,2,AT001,5.12,410.0,00:30:20,148,171,3.5,167.0,5:55,4:59,0.505556,0.506,5.917,4.983,30.333
2,3,AT001,5.01,403.0,00:30:12,146,167,3.4,164.0,6:02,3:54,0.503333,0.503,6.033,3.900,30.200
3,4,AT001,4.80,412.0,00:30:19,148,166,3.4,163.0,6:19,5:05,0.505278,0.505,6.317,5.083,30.317
4,5,AT001,5.15,423.0,00:31:10,148,164,3.5,163.0,6:03,4:12,0.519444,0.519,6.050,4.200,31.167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,409,AT002,5.96,461.0,00:36:31,146,169,3.5,149.0,6:08,4:01,0.608611,0.609,6.133,4.017,36.517
409,410,AT002,9.96,821.0,01:00:05,156,176,5.0,151.0,6:02,4:30,1.001389,1.001,6.033,4.500,60.083
410,411,AT002,5.36,433.0,00:30:01,157,178,4.2,157.0,5:36,4:22,0.500278,0.500,5.600,4.367,30.017
411,412,AT002,1.60,128.0,00:09:00,154,179,2.7,142.0,5:38,3:09,0.150000,0.150,5.633,3.150,9.000
412,413,AT002,5.00,391.0,00:28:10,157,177,4.0,150.0,5:38,3:38,0.469444,0.469,5.633,3.633,28.167

In [64]:
# Function to convert 'MM:SS' to a proportion of a minute
def pace_to_proportion(pace_str):
    match = re.match(r'(\d+):(\d{2})', pace_str)
    if match:
        minutes, seconds = match.groups()
        total_seconds = int(minutes) * 60 + int(seconds)
        # Convert to proportion of a minute and round to 3 decimal places
        return round(total_seconds / 60, 2)
    return None

# Assuming performance_metrics_df is your DataFrame

# Apply the conversion function to 'Avg Pace' and 'Best Pace'
performance_metrics_df['Avg Pace (min/km)'] = performance_metrics_df['Avg Pace'].apply(pace_to_proportion)
performance_metrics_df['Best Pace (min/km)'] = performance_metrics_df['Best Pace'].apply(pace_to_proportion)

In [68]:
performance_metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ActivityID               413 non-null    int64
 1   ActivityTypeID           413 non-null    object
 2   Distance                 374 non-null    float64
 3   Calories                 401 non-null    float64
 4   Time                     413 non-null    object
 5   Avg HR                   413 non-null    int64
 6   Max HR                   413 non-null    int64
 7   Aerobic TE               411 non-null    float64
 8   Avg Run Cadence          337 non-null    float64
 9   Avg Pace                 413 non-null    object
 10  Best Pace                413 non-null    object
 11  Time as Hour Proportion  413 non-null    float64
 12  Time(hours)              413 non-null    float64
 13  Avg Pace (min/km)        307 non-null    float64
 14  Best Pace (min/km)       302 non-null    float64
 15  Time (minutes)           413 non-null    float64
dtypes: float64(9), int64(3), object(4)
memory usage: 51.8+ KB

In [69]:
performance_metrics_df = performance_metrics_df[['ActivityID', 'ActivityTypeID', 'Distance','Calories', 'Time (minutes)', 'Avg HR', 'Max HR', 'Aerobic TE', 'Avg Run Cadence', 'Avg Pace (min/km)', 'Best Pace (min/km)']]
performance_metrics_df

,ActivityID,ActivityTypeID,Distance,Calories,Time (minutes),Avg HR,Max HR,Aerobic TE,Avg Run Cadence,Avg Pace (min/km),Best Pace (min/km)
0,1,AT001,5.26,408.0,30.133,147,169,3.5,167.0,5.733,4.383
1,2,AT001,5.12,410.0,30.333,148,171,3.5,167.0,5.917,4.983
2,3,AT001,5.01,403.0,30.200,146,167,3.4,164.0,6.033,3.900
3,4,AT001,4.80,412.0,30.317,148,166,3.4,163.0,6.317,5.083
4,5,AT001,5.15,423.0,31.167,148,164,3.5,163.0,6.050,4.200
...,...,...,...,...,...,...,...,...,...,...,...
408,409,AT002,5.96,461.0,36.517,146,169,3.5,149.0,6.133,4.017
409,410,AT002,9.96,821.0,60.083,156,176,5.0,151.0,6.033,4.500
410,411,AT002,5.36,433.0,30.017,157,178,4.2,157.0,5.600,4.367
411,412,AT002,1.60,128.0,9.000,154,179,2.7,142.0,5.633,3.150
412,413,AT002,5.00,391.0,28.167,157,177,4.0,150.0,5.633,3.633

In [70]:
# Export Performance Metrics to csv
performance_metrics_df.to_csv('../data/processed/performance_metrics.csv', index=False)

In [75]:
# Create the Elevation Metrics Table - To analyze how elevation impacts activity performance and effort.
elevation_metrics_df = merged_df[['ActivityID','Total Ascent', 'Total Descent', 'Min Elevation', 'Max Elevation']].copy()
elevation_metrics_df.head()

   ActivityID Total Ascent Total Descent Min Elevation Max Elevation
0           1           --            --            --            --
1           2           --            --            --            --
2           3           --            --            --            --
3           4           --            --            --            --
4           5           --            --            --            --

In [77]:
# Create the Swimming Metrics Table - Dedicated to swimming activities, capturing strokes and efficiency.
swimming_metrics_df = merged_df[['ActivityID','Total Strokes', 'Avg. Swolf', 'Avg Stroke Rate', 'Dive Time']].copy()
swimming_metrics_df.head()

   ActivityID Total Strokes  Avg. Swolf  Avg Stroke Rate Dive Time
0           1            --           0                0      0:00
1           2            --           0                0      0:00
2           3            --           0                0      0:00
3           4            --           0                0      0:00
4           5            --           0                0      0:00

In [79]:
# Create Lap Times and Misc Metrics Table - To provide insights into pacing, rest intervals, and overall activity duration
lap_metrics_df = merged_df[['ActivityID','Best Lap Time', 'Number of Laps', 'Distance.1', 'Moving Time', 'Elapsed Time']].copy()
lap_metrics_df.head()

,ActivityID,Best Lap Time,Number of Laps,Distance.1,Moving Time,Elapsed Time
0,1,01:29.39,6,5.26,00:30:06,00:30:08
1,2,00:46.92,6,5.12,00:30:14,00:30:20
2,3,00:02.12,6,5.01,00:30:01,00:30:12
3,4,05:11.23,5,4.80,00:29:38,00:30:19
4,5,01:21.02,6,5.15,00:31:07,00:31:10

In [81]:
lap_metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ActivityID      413 non-null    int64
 1   Best Lap Time   413 non-null    object
 2   Number of Laps  413 non-null    int64
 3   Distance.1      413 non-null    object
 4   Moving Time     413 non-null    object
 5   Elapsed Time    413 non-null    object
dtypes: int64(2), object(4)
memory usage: 19.5+ KB

In [82]:
# Convert 'Distance.1' to float
lap_metrics_df['Distance.1'] = pd.to_numeric(lap_metrics_df['Distance.1'], errors='coerce')

# Rename 'Distance.1' to 'Total Distance (km)'
lap_metrics_df.rename(columns={'Distance.1': 'Total Distance (km)'}, inplace=True)

# Create 'Lap Distance (km)' by dividing 'Total Distance (km)' by 'Number of Laps'
lap_metrics_df['Lap Distance (km)'] = lap_metrics_df['Total Distance (km)'] / lap_metrics_df['Number of Laps']

lap_metrics_df

,ActivityID,Best Lap Time,Number of Laps,Total Distance (km),Moving Time,Elapsed Time,Lap Distance (km)
0,1,01:29.39,6,5.26,00:30:06,00:30:08,0.876667
1,2,00:46.92,6,5.12,00:30:14,00:30:20,0.853333
2,3,00:02.12,6,5.01,00:30:01,00:30:12,0.835000
3,4,05:11.23,5,4.80,00:29:38,00:30:19,0.960000
4,5,01:21.02,6,5.15,00:31:07,00:31:10,0.858333
...,...,...,...,...,...,...,...
408,409,04:43.03,7,5.96,00:34:49,00:36:49,0.851429
409,410,00:05.21,12,9.96,00:59:53,01:00:05,0.830000
410,411,00:00.78,7,5.36,00:29:54,00:30:11,0.765714
411,412,00:34.60,4,1.60,00:08:36.4,00:09:00,0.400000
412,413,00:45.67,8,5.00,00:28:09,00:28:30,0.625000

In [85]:
# Function to convert time strings to minutes using regex
def convert_time_str_to_minutes(time_str):
    # For 'Best Lap Time' format MM:SS.HH
    if '.' in time_str:
        match = re.match(r'(\d+):(\d{2}).(\d{2})', time_str)
        if match:
            minutes, seconds, hundredths = map(int, match.groups())
            return round(minutes + seconds / 60 + hundredths / 6000, 2)
    # For 'Moving Time' and 'Elapsed Time' format HH:MM:SS or MM:SS
    else:
        match = re.match(r'(\d+):(\d{2}):?(\d{2})?', time_str)
        if match:
            parts = match.groups()
            if len(parts) == 3 and parts[2] is not None:
                hours, minutes, seconds = map(int, parts)
                return round(hours * 60 + minutes + seconds / 60, 2)
            elif len(parts) >= 2:
                minutes, seconds = map(int, parts[:2])
                return round(minutes + seconds / 60, 2)
    return None

# Apply the conversion function
lap_metrics_df['Best Lap Time (min)'] = lap_metrics_df['Best Lap Time'].apply(convert_time_str_to_minutes)
lap_metrics_df['Moving Time (min)'] = lap_metrics_df['Moving Time'].apply(convert_time_str_to_minutes)
lap_metrics_df['Elapsed Time (min)'] = lap_metrics_df['Elapsed Time'].apply(convert_time_str_to_minutes)
lap_metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ActivityID           413 non-null    int64
 1   Best Lap Time        413 non-null    object
 2   Number of Laps       413 non-null    int64
 3   Total Distance (km)  374 non-null    float64
 4   Moving Time          413 non-null    object
 5   Elapsed Time         413 non-null    object
 6   Lap Distance (km)    374 non-null    float64
 7   Best Lap Time (min)  413 non-null    float64
 8   Moving Time (min)    413 non-null    float64
 9   Elapsed Time (min)   413 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 32.4+ KB

In [87]:
lap_metrics_df = lap_metrics_df[['ActivityID', 'Best Lap Time (min)', 'Number of Laps', 'Total Distance (km)', 'Lap Distance (km)','Moving Time (min)', 'Elapsed Time (min)']]
lap_metrics_df

,ActivityID,Best Lap Time (min),Number of Laps,Total Distance (km),Lap Distance (km),Moving Time (min),Elapsed Time (min)
0,1,1.49,6,5.26,0.876667,30.10,30.13
1,2,0.78,6,5.12,0.853333,30.23,30.33
2,3,0.04,6,5.01,0.835000,30.02,30.20
3,4,5.19,5,4.80,0.960000,29.63,30.32
4,5,1.35,6,5.15,0.858333,31.12,31.17
...,...,...,...,...,...,...,...
408,409,4.72,7,5.96,0.851429,34.82,36.82
409,410,0.09,12,9.96,0.830000,59.88,60.08
410,411,0.01,7,5.36,0.765714,29.90,30.18
411,412,0.58,4,1.60,0.400000,0.14,9.00
412,413,0.76,8,5.00,0.625000,28.15,28.50