In [1]:
# Import necessary libraries 
import pandas as pd

In [2]:
# Load the dataset from the CSV file
df = pd.read_csv('../data/raw/Activities.csv')

In [3]:
# Display the first few rows of the DataFrame to understand its structure
df.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,...,Decompression,Best Lap Time,Number of Laps,Max Temp,Distance.1,Total Descent.1,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Treadmill Running,2024-01-22 20:19:55,False,Treadmill Running,5.26,408,00:30:08,147,169,3.5,...,No,01:29.39,6,0.0,5.26,--,00:30:06,00:30:08,--,--
1,Treadmill Running,2024-01-18 17:02:50,False,Treadmill Running,5.12,410,00:30:20,148,171,3.5,...,No,00:46.92,6,0.0,5.12,--,00:30:14,00:30:20,--,--
2,Treadmill Running,2024-01-15 19:33:44,False,Treadmill Running,5.01,403,00:30:12,146,167,3.4,...,No,00:02.12,6,0.0,5.01,--,00:30:01,00:30:12,--,--
3,Treadmill Running,2024-01-12 18:19:25,False,Base,4.80,412,00:30:19,148,166,3.4,...,No,05:11.23,5,0.0,4.80,--,00:29:38,00:30:19,--,--
4,Treadmill Running,2024-01-09 15:51:13,False,Base,5.15,423,00:31:10,148,164,3.5,...,No,01:21.02,6,0.0,5.15,--,00:31:07,00:31:10,--,--

In [4]:
# Get a concise summary of the DataFrame, including the number of non-null values in each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Activity Type             413 non-null    object
 1   Date                      413 non-null    object
 2   Favorite                  413 non-null    bool
 3   Title                     413 non-null    object
 4   Distance                  413 non-null    object
 5   Calories                  413 non-null    object
 6   Time                      413 non-null    object
 7   Avg HR                    413 non-null    int64
 8   Max HR                    413 non-null    int64
 9   Aerobic TE                413 non-null    object
 10  Avg Run Cadence           413 non-null    object
 11  Max Run Cadence           413 non-null    object
 12  Avg Pace                  413 non-null    object
 13  Best Pace                 413 non-null    object
 14  Total Ascent              413 non-null    object
 15  Total Descent             413 non-null    object
 16  Avg Stride Length         413 non-null    float64
 17  Avg Vertical Ratio        413 non-null    float64
 18  Avg Vertical Oscillation  413 non-null    float64
 19  Avg Ground Contact Time   413 non-null    int64
 20  Training Stress ScoreÂ®    413 non-null    float64
 21  Avg Power                 413 non-null    int64
 22  Max Power                 413 non-null    int64
 23  Grit                      413 non-null    float64
 24  Flow                      413 non-null    float64
 25  Total Strokes             413 non-null    object
 26  Avg. Swolf                413 non-null    int64
 27  Avg Stroke Rate           413 non-null    int64
 28  Total Reps                413 non-null    int64
 29  Dive Time                 413 non-null    object
 30  Min Temp                  413 non-null    float64
 31  Surface Interval          413 non-null    object
 32  Decompression             413 non-null    object
 33  Best Lap Time             413 non-null    object
 34  Number of Laps            413 non-null    int64
 35  Max Temp                  413 non-null    float64
 36  Distance.1                413 non-null    object
 37  Total Descent.1           413 non-null    object
 38  Moving Time               413 non-null    object
 39  Elapsed Time              413 non-null    object
 40  Min Elevation             413 non-null    object
 41  Max Elevation             413 non-null    object
dtypes: bool(1), float64(8), int64(9), object(24)
memory usage: 132.8+ KB

In [5]:
# Convert Date & Time to correct format
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Activity Type             413 non-null    object
 1   Date                      413 non-null    datetime64[ns]
 2   Favorite                  413 non-null    bool
 3   Title                     413 non-null    object
 4   Distance                  413 non-null    object
 5   Calories                  413 non-null    object
 6   Time                      413 non-null    object
 7   Avg HR                    413 non-null    int64
 8   Max HR                    413 non-null    int64
 9   Aerobic TE                413 non-null    object
 10  Avg Run Cadence           413 non-null    object
 11  Max Run Cadence           413 non-null    object
 12  Avg Pace                  413 non-null    object
 13  Best Pace                 413 non-null    object
 14  Total Ascent              413 non-null    object
 15  Total Descent             413 non-null    object
 16  Avg Stride Length         413 non-null    float64
 17  Avg Vertical Ratio        413 non-null    float64
 18  Avg Vertical Oscillation  413 non-null    float64
 19  Avg Ground Contact Time   413 non-null    int64
 20  Training Stress ScoreÂ®    413 non-null    float64
 21  Avg Power                 413 non-null    int64
 22  Max Power                 413 non-null    int64
 23  Grit                      413 non-null    float64
 24  Flow                      413 non-null    float64
 25  Total Strokes             413 non-null    object
 26  Avg. Swolf                413 non-null    int64
 27  Avg Stroke Rate           413 non-null    int64
 28  Total Reps                413 non-null    int64
 29  Dive Time                 413 non-null    object
 30  Min Temp                  413 non-null    float64
 31  Surface Interval          413 non-null    object
 32  Decompression             413 non-null    object
 33  Best Lap Time             413 non-null    object
 34  Number of Laps            413 non-null    int64
 35  Max Temp                  413 non-null    float64
 36  Distance.1                413 non-null    object
 37  Total Descent.1           413 non-null    object
 38  Moving Time               413 non-null    object
 39  Elapsed Time              413 non-null    object
 40  Min Elevation             413 non-null    object
 41  Max Elevation             413 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(9), object(23)
memory usage: 132.8+ KB

In [6]:
# Display statistical summaries of numeric columns
df.describe()

,Date,Avg HR,Max HR,Avg Stride Length,Avg Vertical Ratio,Avg Vertical Oscillation,Avg Ground Contact Time,Training Stress ScoreÂ®,Avg Power,Max Power,Grit,Flow,Avg. Swolf,Avg Stroke Rate,Total Reps,Min Temp,Number of Laps,Max Temp
count,413,413.000000,413.000000,413.000000,413.0,413.0,413.0,413.0,413.0,413.0,413.0,413.0,413.000000,413.000000,413.0,413.0,413.000000,413.0
mean,2022-03-02 23:12:05.016948992,142.898305,165.685230,0.713341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.566586,1.399516,0.0,0.0,6.571429,0.0
min,2020-07-11 20:01:36,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.000000,0.0
25%,2021-02-22 17:34:56,137.000000,161.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.000000,0.0
50%,2022-01-30 15:58:12,147.000000,168.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,6.000000,0.0
75%,2023-02-02 09:45:50,153.000000,175.000000,1.080000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,8.000000,0.0
max,2024-01-22 20:19:55,168.000000,207.000000,1.750000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92.000000,34.000000,0.0,0.0,38.000000,0.0
std,NaN,17.594387,17.413105,0.494521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.254494,5.949439,0.0,0.0,6.254929,0.0

In [7]:
def generate_alphanumeric_id(prefix, idx):
    """
    Generates an alphanumeric ID with a given prefix and index.
    
    Parameters:
    - prefix (str): The prefix for the ID.
    - idx (int): The numeric index for the ID.
    
    Returns:
    - str: An alphanumeric ID.
    """
    return f"{prefix}{idx:03d}"  # Pads the index with zeros, e.g., AT001

# Generate unique IDs for each activity type
activity_types = df['Activity Type'].unique()

# Generate Alphanumeric IDs
alphanumeric_ids = [generate_alphanumeric_id("AT", i+1) for i in range(len(activity_types))]

# Create a mapping DataFrame
activity_types_df = pd.DataFrame({
    'ActivityTypeID': alphanumeric_ids,
    'ActivityType': activity_types
})


# Display the Activity Types table
activity_types_df

  ActivityTypeID       ActivityType
0          AT001  Treadmill Running
1          AT002            Running
2          AT003      Indoor Rowing
3          AT004      Pool Swimming
4          AT005             Cardio
5          AT006         Elliptical
6          AT007              Other
7          AT008            Walking
8          AT009     Indoor Cycling
9          AT010            Cycling

In [8]:
# Export Activty Types to csv
activity_types_df.to_csv('../data/processed/activity_types.csv', index=False)

In [9]:
# Drop columns where all values are 0
df = df.loc[:, (df != 0).any(axis=0)]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Activity Type      413 non-null    object
 1   Date               413 non-null    datetime64[ns]
 2   Title              413 non-null    object
 3   Distance           413 non-null    object
 4   Calories           413 non-null    object
 5   Time               413 non-null    object
 6   Avg HR             413 non-null    int64
 7   Max HR             413 non-null    int64
 8   Aerobic TE         413 non-null    object
 9   Avg Run Cadence    413 non-null    object
 10  Max Run Cadence    413 non-null    object
 11  Avg Pace           413 non-null    object
 12  Best Pace          413 non-null    object
 13  Total Ascent       413 non-null    object
 14  Total Descent      413 non-null    object
 15  Avg Stride Length  413 non-null    float64
 16  Total Strokes      413 non-null    object
 17  Avg. Swolf         413 non-null    int64
 18  Avg Stroke Rate    413 non-null    int64
 19  Dive Time          413 non-null    object
 20  Surface Interval   413 non-null    object
 21  Decompression      413 non-null    object
 22  Best Lap Time      413 non-null    object
 23  Number of Laps     413 non-null    int64
 24  Distance.1         413 non-null    object
 25  Total Descent.1    413 non-null    object
 26  Moving Time        413 non-null    object
 27  Elapsed Time       413 non-null    object
 28  Min Elevation      413 non-null    object
 29  Max Elevation      413 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(23)
memory usage: 96.9+ KB

In [10]:
# Add an Activity ID column as a primary key
df['ActivityID'] = range(1, len(df) + 1)
df.tail()

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,Avg Run Cadence,...,Decompression,Best Lap Time,Number of Laps,Distance.1,Total Descent.1,Moving Time,Elapsed Time,Min Elevation,Max Elevation,ActivityID
408,Running,2020-07-20 17:07:49,Stratford on Avon - Easy Run,5.96,461,00:36:31,146,169,3.5,149,...,No,04:43.03,7,5.96,61,00:34:49,00:36:49,45,108,409
409,Running,2020-07-18 06:46:00,Stratford on Avon - Easy Run,9.96,821,01:00:05,156,176,5.0,151,...,No,00:05.21,12,9.96,48,00:59:53,01:00:05,34,79,410
410,Running,2020-07-16 21:02:11,Easy Run,5.36,433,00:30:01,157,178,4.2,157,...,No,00:00.78,7,5.36,14,00:29:54,00:30:11,552,574,411
411,Running,2020-07-14 18:51:28,Benchmark Run,1.60,128,00:09:00,154,179,2.7,142,...,No,00:34.60,4,1.60,17,00:08:36.4,00:09:00,552,566,412
412,Running,2020-07-11 20:01:36,Benchmark Run,5.00,391,00:28:10,157,177,4.0,150,...,No,00:45.67,8,5.00,26,00:28:09,00:28:30,552,565,413

In [11]:
# Merge df with activity_types_df on "Activity Type" to include "ActivityTypeID"
merged_df = pd.merge(df, activity_types_df, 
                         left_on='Activity Type', right_on='ActivityType', 
                         how='left')

# Drop the redundant 'ActivityType' column from the merged DataFrame
merged_df.drop('ActivityType', axis=1, inplace=True)

# Now, activities_df is updated to contain ActivityID, Activity Type, Date, Title, and ActivityTypeID
merged_df.head(10)

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,Avg Run Cadence,...,Best Lap Time,Number of Laps,Distance.1,Total Descent.1,Moving Time,Elapsed Time,Min Elevation,Max Elevation,ActivityID,ActivityTypeID
0,Treadmill Running,2024-01-22 20:19:55,Treadmill Running,5.26,408,00:30:08,147,169,3.5,167,...,01:29.39,6,5.26,--,00:30:06,00:30:08,--,--,1,AT001
1,Treadmill Running,2024-01-18 17:02:50,Treadmill Running,5.12,410,00:30:20,148,171,3.5,167,...,00:46.92,6,5.12,--,00:30:14,00:30:20,--,--,2,AT001
2,Treadmill Running,2024-01-15 19:33:44,Treadmill Running,5.01,403,00:30:12,146,167,3.4,164,...,00:02.12,6,5.01,--,00:30:01,00:30:12,--,--,3,AT001
3,Treadmill Running,2024-01-12 18:19:25,Base,4.80,412,00:30:19,148,166,3.4,163,...,05:11.23,5,4.80,--,00:29:38,00:30:19,--,--,4,AT001
4,Treadmill Running,2024-01-09 15:51:13,Base,5.15,423,00:31:10,148,164,3.5,163,...,01:21.02,6,5.15,--,00:31:07,00:31:10,--,--,5,AT001
5,Treadmill Running,2024-01-05 07:20:31,Base,5.43,429,00:31:13,150,175,3.7,166,...,03:05.49,6,5.43,--,00:30:33,00:31:13,--,--,6,AT001
6,Treadmill Running,2024-01-02 06:29:33,Base,4.99,395,00:30:23,142,158,3.2,167,...,05:53.79,5,4.99,--,00:30:18,00:30:23,--,--,7,AT001
7,Running,2023-12-31 08:15:58,Bromsgrove - Base,5.92,534,00:43:02,139,165,3.3,146,...,05:35.27,6,5.92,192,00:41:09,00:43:02,164,311,8,AT002
8,Treadmill Running,2023-12-28 16:20:32,Base,6.88,547,00:40:27,148,165,3.8,165,...,00:27.27,8,6.88,--,00:40:15,00:40:27,--,--,9,AT001
9,Running,2023-12-25 10:49:19,Cherwell - Base,5.26,493,00:41:40,139,165,3.0,137,...,03:34.21,6,5.26,8,00:36:14,00:41:40,63,73,10,AT002

In [14]:
# Create the Activities DataFrame
activities_df = merged_df[['ActivityID','ActivityTypeID', 'Date', 'Title']].copy()
activities_df.head(10)

   ActivityID ActivityTypeID                Date              Title
0           1          AT001 2024-01-22 20:19:55  Treadmill Running
1           2          AT001 2024-01-18 17:02:50  Treadmill Running
2           3          AT001 2024-01-15 19:33:44  Treadmill Running
3           4          AT001 2024-01-12 18:19:25               Base
4           5          AT001 2024-01-09 15:51:13               Base
5           6          AT001 2024-01-05 07:20:31               Base
6           7          AT001 2024-01-02 06:29:33               Base
7           8          AT002 2023-12-31 08:15:58  Bromsgrove - Base
8           9          AT001 2023-12-28 16:20:32               Base
9          10          AT002 2023-12-25 10:49:19    Cherwell - Base

In [13]:
# Export Activty Types to csv
activities_df.to_csv('../data/processed/activities.csv', index=False)